{% assign locale = include.locale | default: site.locale %}
{% if page.previous or page.next %}
  <nav class="pagination pager--vp" aria-label="Post pagination">
    {% if page.previous %}
      {% assign prev_title = page.previous.title | markdownify | strip_html | strip %}
      <a href="{{ page.previous.url | relative_url }}" class="pagination--pager pager--prev" title="{{ prev_title | escape }}">
        <span class="pager__label">{{ site.data.ui-text[locale].pagination_previous | default: "Previous page" }}</span>
        <span class="pager__title">{{ prev_title }}</span>
      </a>
    {% else %}
      <span class="pagination--pager pager--prev pager--disabled">
        <span class="pager__label">{{ site.data.ui-text[locale].pagination_previous | default: "Previous page" }}</span>
      </span>
    {% endif %}
    {% if page.next %}
      {% assign next_title = page.next.title | markdownify | strip_html | strip %}
      <a href="{{ page.next.url | relative_url }}" class="pagination--pager pager--next" title="{{ next_title | escape }}">
        <span class="pager__label">{{ site.data.ui-text[locale].pagination_next | default: "Next page" }}</span>
        <span class="pager__title">{{ next_title }}</span>
      </a>
    {% else %}
      <span class="pagination--pager pager--next pager--disabled">
        <span class="pager__label">{{ site.data.ui-text[locale].pagination_next | default: "Next page" }}</span>
      </span>
    {% endif %}
  </nav>
{% endif %}
